body {
    background-color: #2f4f4f;
}
h1{
    text-align: center;
    color:white;
}
table, th, td {
background-image:url(./img/hatter.jpg) ;
}

table{
    margin: 0 auto;
    width: 640px;
    float: center;
}
th, td {
    margin: 5px;
    border-spacing: 5px;
}